<div class="row">
    <div class="col-6">
        <form class="form-inline" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" id="csvFileInput">
            </div>
            <button id="btnUpload" type="button" class="btn btn-success">Add file</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="tblErrors" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Message</th>
                        <th>Property</th>
                        <th>LineNumber</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>