<div>
    <form>
        <h4>Completed.. Click below button to download file</h4>
        <a class="btn btn-primary" asp-controller="DataFile" asp-action="CreateWord" download>Extract Document</a>
    </form>
</div>